/*
@file LoginDesign.css
@Author Istiak <istiak.m360ict@gmail.com>
*/
.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: rgb(37, 26, 165);
	background: linear-gradient(
		90deg,
		rgb(241, 239, 248) 0%,
		/* rgb(37, 26, 165) 28%, */
		rgb(246, 246, 248) 28%,
		rgb(116, 105, 241) 100%
	);
}

.login-form {
	width: 100%;
	padding: 25px;
	background: #fff;
	border-radius: 8px;
}
.login-form-container {
	max-width: 320px;
	min-height: 400px;
}
.registration-form-container {
	max-width: 550px;
	min-height: 500px;
}
.registration-form {
	width: 100%;
	padding: 25px;
	background: #fff;
	border-radius: 8px;
}

@media screen and (max-width: 768px) {
	.login-form {
		padding: 0px;
	}
	.registration-form {
		padding: 20px;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 100%;
		padding-top: 0;
	}
	.logo-container {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

.button-container {
	margin-top: 20px;
	text-align: center;
}
.logo-container {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 20px;
}
